::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #a58dec; /* color of the scroll thumb */
    border-radius: 10px; /* roundness of the scroll thumb */
    border: 2px solid #00eaff; /* creates padding around scroll thumb */
}

table {
    border-collapse: collapse;
    color: black;
}

table th {
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 5px;
    background-color: #c7f1fa;
    border: 1px solid #d000ff;

    text-align: center;
    font-size: 0.75em;
}

table td {
    border: 1px solid black;

    text-align: right;

    font-size: 0.8em;
    padding-right: 5px;
}

.page-nav {
    grid-area: footer;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 20fr 1fr 20fr;
    grid-template-rows: 1fr;
    grid-template-areas: "prev-page current-page next-page";
}

.page-nav button {
    margin-top: 10px;
    padding: 5px;
    font-size: 1.1em;
    width: 5em;
    text-align: center;
}

body {
    background: #406ad7;
    font-weight: 400;
    color: white;

    padding-left: 20px;
    padding-right: 20px;
}

.main-contrainer {
    /*padding-top: 2%;*/
}

.navbar-light {
    background-color: #fff;
}

.right-force {
    display: flex;
    justify-content: flex-end;
}

.auth-inner {
    margin: 10px;
    background: #fff;
    border-radius: 10px;

    grid-area: main;
    height: 80vh;

    overflow: scroll;
}