<head th:replace="common.html :: head"/>
<body>
<header th:replace="common.html :: header"></header>
<div class="auth-inner">
    <div>
        <h3>Страница администратора</h3>

        <p>Неактивированные пользователи:</p>
        <div th:each="user : ${unactivatedUsers}">
            <form th:action="'/admin/activate/' + ${user.id}" method="post">

                <span th:text="'Логин: ' + ${user.username}">
                </span>
                <input type="submit" value="Активировать"/>
            </form>
        </div>
        <p>Активированные пользователи:</p>
        <div th:each="user : ${activatedUsers}">
            <form th:action="'/admin/deactivate/' + ${user.id}" method="post">

                <span th:text="'Логин: ' + ${user.username}">
                </span>
                <input type="submit" value="Деактивировать"/>
            </form>
        </div>
    </div>
</div>
</body>