<html>

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Измерения</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>

<body>
    <header th:fragment="header">
        <div sec:authorize="isAnonymous()">
            <p>Вы не авторизованы. <a th:href="@{/login}">Войдите</a> либо <a th:href="@{/register}">зарегистрируйтесь</a>. </p>
            <p>После регистрации дождитесь одобрения администратора и сможете авторизоваться.</p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <p>Здравствуйте, <span sec:authentication="name"/>!</p>
            <p>Вы можете <a th:href="@{/logout}">выйти</a>.</p>
        </div>
    </header>
</body>