<html>

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Измерения</title>
    <link rel="stylesheet" href="/css/bootstrap_min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="/js/jquery_360_min.js"></script>
    <script src="/js/bootstrap_min.js"></script>

</head>

<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand navbar-light fixed-top">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">SOD-AGRO</a>
                <div class="collapse navbar-collapse right-force">

                    <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a th:href="@{/login}" class="nav-link">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/register}" class="nav-link">Регистрация</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a th:href="@{/entity_view?entity=measurement}" class="nav-link">Измерения</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/entity_view?entity=organization}" class="nav-link">Организации</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link">Формы</a>
                        </li>
                        <!-- https://stackoverflow.com/questions/30788105/spring-security-hasrole-not-working -->
                        <li class="nav-item" sec:authorize="hasAuthority ('ADMIN')">
                            <a th:href="@{/admin}" class="nav-link">Админ-панель</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/api/measurement}" class="nav-link">API</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/logout}" class="nav-link">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br/>
        <br/>
        <br/>
    </div>
</body>