<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Измерения</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>

<body>

Выберите дату:
<input
        type="hidden"
        id="examination-date-dropdown-data"
        th:value="${dates}"/>

<div id="examination-date-dropdown-container"></div>

<table id="measurement-table"></table>
<div id="page-nav"></div>

<script src="js/examination_date_dropdown.js"></script>

</body>

</html>