<head th:replace="common.html :: head"/>
<body>
    <header th:replace="common.html :: header"></header>
    <div id="dropdown-container" class="dropdown-container">
    Выберите дату:
    <input
            type="hidden"
            id="examination-date-dropdown-data"
            th:value="${dates}"/>
    </div>

    <div class="table-wrapper">
        <table id="measurement-table"></table>
    </div>
    <div id="page-nav" class="page-nav"></div>

    <script src="js/examination_date_dropdown.js"></script>
</body>