<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div>
    <div>
        <div>
            <p>Регистрация</p>

            <form action="#" th:action="@{/register}" th:object="${user}" method="post">

                <p th:each="err : ${errors}" th:text="${err.getDefaultMessage()}"></p>

                <input type="text" th:field="*{username}" placeholder="Логин">
                <input type="password" th:field="*{password}" placeholder="Пароль">
                <input type="password" placeholder="Повторите пароль" th:field="*{matchingPassword}">
                <input type="submit" value="Зарегистрироваться"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>